body
{
  color: white;
  background: #ff4d6d;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name
{
  color: black;
  font-size: 40px;
}
#gesture
{
  font-size:48px;
}
.heading
{
  font-size: 25px;
  letter-spacing: 12px;
  padding: 10px;
  font-family: 'Lora', serif;
} 
label
{
  font-size: 16px;
  background-color: #ffff3f;
  color: #7400b8;
  border-radius: 10px;
  border-color: black;
  padding: 5px;
}